/*fondo del encabezado nav*/

header{
    background-color: #bbb;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
 

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /* background: #ccc; */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}




.productos h2{
font-size: 30px;
font-weight: bold;
}
.productos-descripcion{
    font-size: 18px;
}

.productos-precio{
    font-size: 20px;
    font-weight: bold;
    margin: top;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
 }

 .productos li:hover{
    border-color: #c78c19;
    /* font-size: 33px; */
}

.productos li:active{
    border-color: #088c19;
}

.productos li:hover h2{
    font-size: 33px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyringh{
    color: #fff;
    font-size: 13px;
    margin: 20px;
}

