body {

}

.titulo-principal {
    padding-left: 30px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

p{
    text-align: center;
}

em strong{
    color:red;
}
#mision{
    font-size: 20px;
}

#imgBanner{
    width: 100%;
   
}

/* h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000;
    padding: 20px;
    margin: 40px;
} */

.titulo-centralizado{
    text-align: center;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

/* h2{
    text-align: center;
} */

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}